{% extends "base.html" %}
{% load static %}
{% block content %}
<form action="{% url 'testlibrary:casedetail' case.id %}" method='post'>
	{{ step_formset.management_form }}
	{% csrf_token %}
	<div class="section-container">
		<h2>{{ case.title }}</h2>
		<h3>Version {{ form.versions }}</h3>
		<div class="table">
			{{ form.non_field_errors }}
			<div class="table-row">
				<div class="table-cell">{{ form.title.label_tag }}</div>
				<div class="table-cell">{{ form.title }}</div>
			</div>
            <div class="table-row">
				<div class="table-cell">{{ form.case_type.label_tag }}</div>
				<div class="table-cell">{{ form.case_type }}</div>
			</div>
			<div class="table-row">
				<div class="table-cell">{{ form.creation_date.label_tag }}</div>
				<div class="table-cell">{{ form.creation_date }}</div>
			</div>
			<div class="table-row">
				<div class="table-cell">{{ form.case_text.label_tag }}</div>
				<div class="table-cell">{{ form.case_text }}</div>
			</div>
		</div>
	</div>
	<div class="section-container">
		{% include "testlibrary/steplist.html" %}
	</div>
	<div class="button-grid">
		<input type="submit" value="Submit" />
		<input type="button" value="Delete Test Case" onclick="location.href='{% url 'testlibrary:deletecase' case.id %}';" />
	</div>
</form>
{% endblock %}