{% extends "base.html" %}
{% load static %}
{% block content %}
<form action="{% url 'testlibrary:casedetail' case.id %}" method='post'>
	{{ step_formset.management_form }}
	{% csrf_token %}
	<h2>{{ case.title }}</h2>
	{{ form.non_field_errors }}
	<table>
		{{ form.as_table }}
	</table>	
	{% include "testlibrary/steplist.html" %}
	<input type="submit" value="Submit" />
	<input type="button" value="Delete Test Case" onclick="location.href='{% url 'testlibrary:deletecase' case.id %}';" />
</form>
{% endblock %}