<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static "/testlibrary/css/style.css" %}" />
        <title>{% block title %}Test Manager{% endblock %}</title>
    </head>
    <body>
		<div id="page-container">			
			<div id="header">
				<h1>Test Manager</h1>
			</div>
			<div id="main-nav">
				<ul>
					<li><a href="{% url "testlibrary:index" %}">Test Cases</a></li>
					<li><a href="{% url 'testlibrary:releaseindex' %}">Releases</a></li>
					<li><a href="#">Dashboards</a></li>
					<li><a href="#">Test Runner</a></li>
					<li><a href="{% url 'testlibrary:data-set-index' %}">Data Sets</a></li>
					<li><a href="{% url 'testlibrary:data-field-index' %}">Data Fields</a></li>
				</ul>
			</div>
			<div id="content-container">
				<div class="padding">
				{% block content %}{% endblock %}
				</div>				
			</div>
			<div id="footer">
				<div id="altnav">
					<a href="#">Test Manager</a>
					<a href="#">Support</a>
				</div>
				Copyright © [Copyright Notice]
			</div>
		</div>
    </body>
</html>
